@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 

<div id="section_1" class="main">

    <div class="pizza_show_panel main_panel">
        @foreach (var p in ViewData["pizzas"] as List<Pizza>)
    {
        <div>
            <img src="@p.Picture" >
            <p>@p.Name</p>
            <div class="each_price">Price:$@p.Price</div>
            <div class="each_description">@p.Description</div>
            <div class="selection_bar">
                <div class="div_button" onclick="add(@p.PizzaId)">Add</div>
                    <div id="s1_@(p.PizzaId)" >0</div>
                <div  class="div_button" onclick="minus(@p.PizzaId)">Minus</div>
            </div>
            
        </div>
        
    }
    </div>

    

    <div style="display:none" class="tprice">Total Price: $<span id="s1_totalprice">0</span></div>
    <div onclick="nextStep()" class="div_button_submit">Check my trolly</div>
</div>
<div id="section_2"  class="main">
    <div onclick="prevStep()" class="div_button_submit">Back</div>
    <ul class="pizza_panel main_panel">
    @foreach (var p in ViewData["pizzas"] as List<Pizza>)
    {
        <li class="pizza_line">
            <div><span>@p.Name</span></div>
            <div class="div_button" onclick="add(@p.PizzaId)">Add</div>
            <div id="@p.PizzaId" >0</div>
            <div  class="div_button" onclick="minus(@p.PizzaId)">Minus</div>
        </li>
    }
    </ul>
    <div   class="tprice">Total Price: $<span id="totalprice">0</span></div>
    <div onclick="nextStep()" class="div_button_submit">Full up my detail</div>
</div>
<div id="section_3"  class="main">
    <div onclick="prevStep()" class="div_button_submit">Back</div>
    <div class="main_panel pizza_panel">
        <h3>Your name:</h3>
        <input placeholder="Example: Bruce Smith" />
        <h3>Your number:</h3>
        <input placeholder="Example: 022-222-2222" />
    </div>
    <!--
        <div onclick="nextStep()" class="div_button_submit">Confirm</div>
    -->
    <div onclick="confirm()" class="div_button_submit">Confirm</div>
</div>
<div id="section_4"  class="main">
    <div class="main_panel">
        <h1 class="final">Thank you!</h1>
        <p class="final"> We will finish your gourmet pizza soon! </p>
    </div>
    <div onclick="backToHome()" class="div_button_submit">Back to home</div>
</div>
<div id="pricelist">
    @foreach (var p in ViewData["pizzas"] as List<Pizza>)
    {
        <div id="price_@(p.PizzaId)" >@p.Price</div>
    }
</div>
<script>
    var pizzaList = [];
    var totalCount=0;
    var countList = []
    getCountList();
    function getCountList(){
        var tags =  document.getElementById("pricelist").children
        for(var i = 0;i<tags.length;i++){
            countList[tags[i].id]=tags[i].innerHTML
        }
    }
    function add(e){
        if(pizzaList[e]==null){
            pizzaList[e]=1;
        }else{
            pizzaList[e]=pizzaList[e]+1;
        }
        document.getElementById(""+e).innerHTML=pizzaList[e]
        document.getElementById("s1_"+e).innerHTML=pizzaList[e]
        getToltal();
    }

    function minus(e){
        if(pizzaList[e]==null){
            pizzaList[e]=0;
        }else if(pizzaList[e]==0){
            pizzaList[e]=0;
        }else{
            pizzaList[e]=pizzaList[e]-1;
        }
        document.getElementById(""+e).innerHTML=pizzaList[e]
        document.getElementById("s1_"+e).innerHTML=pizzaList[e]
        getToltal();
    }
    function getToltal(){
        totalCount=0;
        for(var i=0;i<pizzaList.length;i++){
            if(pizzaList[i]!=0 & pizzaList[i]!=null){
                totalCount += pizzaList[i]*countList["price_"+i]
                 
            }
        }
       document.getElementById("totalprice").innerHTML = totalCount;
       document.getElementById("s1_totalprice").innerHTML = totalCount;
    }

    function confirm(){
        var parasheet = []
        for(var i = 0;i<pizzaList.length;i++){
            if(pizzaList[i]!=null){
                parasheet.push(i+","+pizzaList[i])
            }
        }

        var postData = { paras: parasheet };
        var jd = JSON.stringify(postData);
        console.log(jd);
        $.ajax({  
            type: "POST",  
            url: '/client/orders/add',  
            data: jd,  
            contentType:"application/x-www-form-urlencoded",  //"application/json; charset=utf-8",  
            beforeSend: function(){  
                console.log("bs")
            },  
            success: function (response) {  
              console.log("s")
                
            },            
            complete: function(response){  
                console.log(response)
            },  
            failure: function (jqXHR, textStatus, errorThrown) {                  
               console.log("f")
            }  
        });

        /*

        let post = pizzaList//(postObj)
 
        const url = "/client/orders/add"
        let xhr = new XMLHttpRequest()
 
        xhr.open('POST', url, true)
        xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
        xhr.send("para=ppp");
        
        xhr.onload = function () {
            if(xhr.status === 200) {
                console.log(xhr)
            }
        }
        */
    }


    var step = 1;

    function prevStep(){
        document.getElementById("section_"+step).style.display="none";
        step-=1;
        document.getElementById("section_"+step).style.display="block";
    }
    function nextStep(){
        document.getElementById("section_"+step).style.display="none";
        step+=1;
        document.getElementById("section_"+step).style.display="block";
    }
    function backToHome(){
        document.getElementById("section_"+step).style.display="none";
        step=1;
        document.getElementById("section_"+step).style.display="block";
    }
</script>
