@{
    ViewData["Title"] = "Home Page";
}


<div id="section_1" class="main">

    <div class="pizza_show_panel main_panel">
        @foreach (var p in ViewData["pizzas"] as List<Pizza>)
    {
        <div>
            <img src="@p.Picture" >
            <p class="each_name">@p.Name</p>
            <div class="each_price">Price:$@p.Price</div>
            <div class="each_description">@p.Description</div>
            <div class="selection_bar">
                <div class="div_button" onclick="add(@p.PizzaId)">Add</div>
                    <div id="s1_@(p.PizzaId)" >0</div>
                <div  class="div_button" onclick="minus(@p.PizzaId)">Minus</div>
            </div>
            
        </div>
        
    }
    </div>

    

    <div style="display:none" class="tprice">Total Price: $<span id="s1_totalprice">0</span></div>
    <div onclick="nextStep()" class="div_button_submit">Check my trolly</div>
</div>
<div id="section_2"  class="main">
    <div onclick="prevStep()" class="div_button_submit">Back</div>
    <ul id="pp_ul" class="pizza_panel main_panel">
    @foreach (var p in ViewData["pizzas"] as List<Pizza>)
    {
        <li id="t_@(p.PizzaId)" class="pizza_line">
            <div><span>@p.Name</span></div>
            <div class="div_button" onclick="add(@p.PizzaId)">Add</div>
            <div id="@p.PizzaId" >0</div>
            <div  class="div_button" onclick="minus(@p.PizzaId)">Minus</div>
        </li>
    }
    </ul>
    <div   class="tprice">Total Price: $<span id="totalprice">0</span></div>
    <div onclick="nextStep()" class="div_button_submit">Full up my detail</div>
</div>
<div id="section_3"  class="main">
    <div onclick="prevStep()" class="div_button_submit">Back</div>
    <div class="main_panel pizza_panel">
        
        <form id="order_form" action="/client/orders/add" method="post">
            <h3>Your name:</h3>
            <input id="order_name" name="order_name" placeholder="Example: Bruce Smith" />
            <p id="namelabel">Please enter your name.</p>
            <h3>Your number:</h3>
            <input id="order_phone" name="order_phone" placeholder="Example: 022-222-2222" />
            <p id="phonelabel">Please enter your phone number.</p>
            <input id="order_detail" name="order_detail" type="hidden"  />
            <div onclick="confirm()" class="div_button_submit">Confirm</div>
            <!--<button type="submit" class="div_button_submit">Confirm</button>-->
        </form>
        
        
    </div>

    
</div>

<div id="pricelist">
    @foreach (var p in ViewData["pizzas"] as List<Pizza>)
    {
        <div id="price_@(p.PizzaId)" >@p.Price</div>
    }
</div>
<script>
    (function() {
        document.getElementById("namelabel").style.color="#ffffff"
        document.getElementById("phonelabel").style.color="#ffffff"
    })()
    var pizzaList = [];
    var totalCount=0;
    var countList = []
    getCountList();
    function getCountList(){
        var tags =  document.getElementById("pricelist").children
        for(var i = 0;i<tags.length;i++){
            countList[tags[i].id]=tags[i].innerHTML
        }
    }
    function add(e){
        if(pizzaList[e]==null){
            pizzaList[e]=1;
        }else{
            pizzaList[e]=pizzaList[e]+1;
        }
        document.getElementById(""+e).innerHTML=pizzaList[e]
        document.getElementById("s1_"+e).innerHTML=pizzaList[e]
        getToltal();
    }

    function minus(e){
        if(pizzaList[e]==null){
            pizzaList[e]=0;
        }else if(pizzaList[e]==0){
            pizzaList[e]=0;
        }else{
            pizzaList[e]=pizzaList[e]-1;
        }
        document.getElementById(""+e).innerHTML=pizzaList[e]
        document.getElementById("s1_"+e).innerHTML=pizzaList[e]
        getToltal();
    }
    function getToltal(){
        totalCount=0;
        for(var i=0;i<pizzaList.length;i++){
            if(pizzaList[i]!=0 & pizzaList[i]!=null){
                totalCount += pizzaList[i]*countList["price_"+i]
                 
            }
        }
       document.getElementById("totalprice").innerHTML = totalCount;
       document.getElementById("s1_totalprice").innerHTML = totalCount;
    }

    function confirm(){
        
        var parasheet = "";
        for(var i = 0;i<pizzaList.length;i++){
            if(pizzaList[i]!=null){
                parasheet += i+","+pizzaList[i]+":";
            }
            
        }
        //console.log(parasheet);
        if (parasheet == "") {
            alert("you have not order any pizza yet.");
        }
        if (document.getElementById("order_name").value == "") {
            document.getElementById("namelabel").style.color="#aa0000"
        }
        if (document.getElementById("order_phone").value == "") {
            document.getElementById("phonelabel").style.color="#aa0000"
        }
        
        document.getElementById("order_detail").value=parasheet;
        document.getElementById("order_form").submit();
        

    }


    var step = 1;

    function prevStep(){
        document.getElementById("section_"+step).style.display="none";
        step-=1;
        //setTrolly();
        document.getElementById("section_"+step).style.display="block";
    }
    function nextStep(){
        document.getElementById("section_"+step).style.display="none";
        step+=1;
       // setTrolly();
        document.getElementById("section_"+step).style.display="block";
    }
    function setTrolly(){
        if(step==2){
            var pl = document.getElementById("pp_ul").children();
            console.log(pl);
            document.getElementById(""+e).innerHTML=pizzaList[e];
        }
    }
</script>
